<style>
#Home {
    background-color: ivory;
    color: #B22222;
    font-family: 'Roboto Slab', cursive;
}
#About me {
    background-color: ivory;
    color: #B22222;
    font-family: 'Roboto Slab', cursive;
}
#Work {
    background-color: ivory;
    color: #B22222;
    font-family: 'Roboto Slab', cursive;
}
#Contact {
    background-color: ivory;
    color: #B22222;
    font-family: 'Roboto Slab', cursive;
}

body {
  background-color: ivory;
        font-family: 'Sriracha', cursive;

        font-size: 16px;
        font-weight: 300;
        line-height: 1.6;
        color: #FFFFF0;
    }
    h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
nav > ul > li > a:visited { /* visited link */
  color: #B22222;
}
nav > ul > li > a:hover,
a:focus {
  color: #B22222;
  text-decoration: underline; /* Underlining when hovering over a link */
  }

  <a href="file:///C:/Users/Iulia/Desktop/Project%20folder/index.html.html" class="button">Read more </a>
nav > ul > li > a:active {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: 	FireBrick;
  color: #FFFAFA; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
<a href="mailto:popiuliacristina@gmail.com" class="button contact">Email me</a>
.button.contact {
  background-color: transparent;
  color: #FFFAFA;
  text-transform: uppercase;
  border: 2px solid #FFFAFA;
}
.button.contact:hover {
  background-color: #FFFAFA;
  color: #ffffff;
}
img {
  width: 100%;
}
.logo {
  max-width: 250px;
  text-align: center;
}
.header {
  background-color: #ffe4c4;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  display: inline-block;
  width: 100%;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #f5f5f5;
}
#hero {
  background-color: #f5f5f5;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
  main {
  padding-top: 133px;
}
</style>
